<table class="dialogForm">
  
  <tr>
    <td>${i18n.form.title}</td>
    <td>
      <input data-dojo-type="dijit.form.ValidationTextBox"
               data-dojo-props='
                   name: "title",
                   required: true,
                   maxLength: 140,
                   trim: true,
                   style: "width: 30em;"
                   '
      />
    </td>
  </tr>
  
  <tr>
    <td>${i18n.form.uri}</td>
    <td>
      <input data-dojo-type="dijit.form.ValidationTextBox"
               data-dojo-props='
                   name: "uri",
                   required: true,
                   maxLength: 140,
                   trim: true,
                   style: "width: 30em;"
                   '
      />
    </td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>
      <input
          data-dojo-type="dijit.form.CheckBox" 
          data-dojo-props='
              name: "publish",
              checked: true
              '
      />
      <label>${i18n.form.publish}</label>
    </td>
  </tr>
  
</table>  