<div class="aboutDialog">
  
  <div class="dijitDialogPaneContentArea">
   
    <table>
      <tr>
        <td><div class="logo"></div></td>
        <td style="padding-left:16px;padding-right:16px;">by</td>
        <td><div class="photo24"></div></td>
        <td style="padding-left:8px;">
          <a href="mailto:martin.vicen@gmail.com" class="mailto">Martin Vicen</a>
        </td>
      </tr>
    </table>
    
    <hr>
    
    <table>
      <tr>
        <td>Version</td>
        <td class="info">1.0</td>
      </tr>
      
      <tr>
        <td>Based on</td>
        <td class="info">
          <a href="http://dojotoolkit.org/" target="_blank" class="attribution">
            Dojo Toolkit ${version}
          </a>
        </td>
      </tr>
      
      <tr>
        <td>Icons by</td>
        <td class="info">
          <a href="http://p.yusukekamiyamane.com/" target="_blank" class="attribution">
            Yusuke Kamiyamane
          </a>
        </td>
      </tr>

    </table>
    
  </div>

  <div class="dijitDialogPaneActionBar">
      
    <button
      data-dojo-type="dijit.form.Button"
      data-dojo-attach-point="okButton"
    >
      ${i18n.dialog.close}
    </button>
   
  </div>
  
</div>