<div style="height:100%;">
  <div
      data-dojo-type="dijit/layout/BorderContainer"
      data-dojo-props="design: 'sidebar', gutters: false"
      data-dojo-attach-point="mainContainer"
      style="height:100%;"
    >
    
    <div
      data-dojo-type="dijit/layout/BorderContainer"
      data-dojo-props="region: 'left', splitter: true, design: 'headline', gutters: false"
      data-dojo-attach-point="sidebarPane"
      class="sidebarPane"
    >
      
      <div 
          data-dojo-type="dijit/layout/ContentPane"
          data-dojo-props="region: 'center'"
      >
      
        <div class="sidebarSection">${i18n.title.public_}</div>
        <div
            data-dojo-type="app/widget/SidebarItem"
            data-dojo-props="
                iconClass: 'sidebarIconPosts',
                value:'posts',
                name: 'sidebar',
                pane: 'posts'
            ">
          ${i18n.title.posts}
        </div>
        <div
            data-dojo-type="app/widget/SidebarItem"
            data-dojo-props="
                iconClass: 'sidebarIconPages',
                value:'pages',
                name: 'sidebar',
                pane: 'pages'
            ">
          ${i18n.title.pages}
        </div> 
        <div
            data-dojo-type="app/widget/SidebarItem"
            data-dojo-props="
                iconClass: 'sidebarIconNews',
                value:'news',
                name: 'sidebar',
                pane: 'news'
            ">
          ${i18n.title.news}
        </div> 
        <div
            data-dojo-type="app/widget/SidebarItem"
            data-dojo-props="
                iconClass: 'sidebarIconMembers',
                value:'members',
                name: 'sidebar',
                pane: 'members'
            ">
          ${i18n.title.members}
        </div> 

        <div class="sidebarSection">${i18n.title.private_}</div>
        <div
            data-dojo-type="app/widget/SidebarItem"
            data-dojo-props="
                iconClass: 'sidebarIconDocs',
                value:'docs',
                name: 'sidebar',
                pane: 'docs'
            ">
          ${i18n.title.docs}
        </div> 
        <div
            data-dojo-type="app/widget/SidebarItem"
            data-dojo-props="
                iconClass: 'sidebarIconEvents',
                value:'events',
                name: 'sidebar',
                pane: 'events'
            ">
          ${i18n.title.events}
        </div> 

        <div class="sidebarSection">${i18n.title.administration}</div>
        <div
            data-dojo-type="app/widget/SidebarItem"
            data-dojo-props="
                iconClass: 'sidebarIconUsers',
                value:'users',
                name: 'sidebar',
                pane: 'users'
            ">
          ${i18n.title.users}
        </div> 
        <!--div
            data-dojo-type="app.widget.SidebarItem"
            data-dojo-props="
                iconClass: 'sidebarIconSettings',
                value:'settings',
                name: 'sidebar',
                pane: 'settings'
            ">
          ${i18n.title.settings}
        </div--> 
        <!--div
            data-dojo-type="app.widget.SidebarItem"
            data-dojo-props="
                iconClass: 'sidebarIconLogs',
                value:'logs',
                name: 'sidebar',
                pane: 'logs'
            ">
          ${i18n.title.logs}
        </div--> 
      </div>
      
      <!-- here -->
      <div 
          data-dojo-type="dijit/Toolbar"
          data-dojo-props="region: 'bottom'"
      >
        <div
          data-dojo-type="dijit/form/DropDownButton"
          data-dojo-props="iconClass:'icon16 menuIconGear', showLabel: false"
        >
          <span>${i18n.menu.gear}</span>
          <div 
              data-dojo-type="dijit/Menu"
              data-dojo-attach-point="gearMenuWidget"
              style="display: none;">
          </div> 
          
        </div>
        
        <div
          data-dojo-type="dijit/form/Button"
          data-dojo-props="iconClass:'icon16 menuIconLogout'"
          data-dojo-attach-point="logoutButton"
        >${i18n.menu.logout}
        </div>
      </div>
    </div>
    
    <div
      data-dojo-type="dijit/layout/StackContainer"
      data-dojo-props="region: 'center'"
      data-dojo-attach-point="stackContainer"
      style="background-color:#eeeeee;"
    >
      
    </div>   

  </div>
</div>